:host{
    display: block;
    margin: 15px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    h3{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        padding: 2px;
        background-color: rgb(185, 195, 240);
    }
    .group-info{
        margin-left: 10px;
        margin-top: 10px;
    }
    label{
        font-weight: bold;
    }
}

img{
    max-width: 100%;
}

.btn{
    margin: 10px;
    margin-right: 0;
    padding: 10px;
    border: none;
    color: grey;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    background-color: rgb(185, 195, 240);
}
.btn:focus{
    border: none;
    outline: none;
};
.btn:active{
    color: whitesmoke;
    background-color: rgb(147, 165, 245);
}
