<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel >Sus Productos</ng-template>
    <div *ngIf="(productsDistinct$ | async) as products">
      <p *ngIf="products.length === 0">No hay productos en el carrito</p>
      <div *ngFor="let product of products" class="row middle-xs">
        <div class="col-xs-12 col-sm-2 col-md-2">
          <div class="box">
            <img class="image" [src]="product.image" alt="Imagen del producto">
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
          <div class="box">
            <p>{{product.title}}</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
          <div class="box">
            {{product.price}}
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
          <div class="box">
            {{ (products$ | async) | repeatedQuantity:product.id }}
          </div>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel >Datos</ng-template>
    <p>Contenido</p>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel >Pago</ng-template>
    <p>Contenido</p>
  </mat-step>
</mat-horizontal-stepper>


